/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #007bff;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .navbar__logo h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
    transition: transform 0.3s ease;
  }
  
  .navbar__logo h2:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 5px rgba(0, 123, 255, 0.4);
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
    padding: 0rem 1rem;
  }
  
  .navbar__links li {
    margin-left: 2rem;
    position: relative;
  }
  
  .navbar__links li a {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    padding-bottom: 0.5rem;
  }
  
  .navbar__links li a:hover {
    color: #007bff;
  }
  
  .navbar__links li a.active {
    color: #007bff;
    font-weight: 700;
    position: relative;
  }
  
  .navbar__links li a.active .dot {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #007bff;
    border-radius: 50%;
    display: inline-block;
  }
  
  /* Toggle Button (for Mobile) */
  .navbar__toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .navbar__toggle-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar__toggle-icon:hover {
    transform: rotate(90deg);
  }
  
  /* Mobile Menu Styles */
  .navbar__mobile {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 1rem;
    z-index: 1000;
  }
  
  .navbar__mobile li {
    margin-bottom: 1rem;
  }
  
  .navbar__mobile li a {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar__mobile li a.active .dot {
    width: 6px;
    height: 6px;
    background-color: #007bff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar__links {
      display: none;
    }
  
    .navbar__toggle {
      display: block;
    }
  }
  